.u-section-1 .u-sheet-1 {min-height: 539px}
.u-section-1 .u-btn-1 {background-image: linear-gradient(to right, #f1b5b8, white); border-style: solid; font-weight: 700; font-size: 0.9375rem; box-shadow: 0 2px 6px 0 rgba(0,0,0,0.25); margin: 220px 14px 60px auto; padding: 7px 21px}
.u-section-1 .u-icon-1 {font-size: 0.7em} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 434px}
.u-section-1 .u-btn-1 {margin-right: 0}
.u-section-1 .u-icon-1 {font-size: 0.7rem} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 658px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 1724px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 500px}
.u-section-1 .u-btn-1 {margin-top: 440px; margin-right: 98px; margin-bottom: 20px} }.u-section-2 .u-sheet-1 {min-height: 539px}
.u-section-2 .u-image-1 {width: 200px; height: 200px; margin: 140px auto 0 0}
.u-section-2 .u-btn-1 {background-image: linear-gradient(to right, #f1b5b8, white); border-style: solid; font-weight: 700; font-size: 0.9375rem; box-shadow: 0 2px 6px 0 rgba(0,0,0,0.25); margin: -120px 14px 60px auto; padding: 7px 21px}
.u-section-2 .u-icon-1 {font-size: 0.7em} 

@media (max-width: 1199px){ .u-section-2 .u-sheet-1 {min-height: 434px}
.u-section-2 .u-btn-1 {margin-right: 0}
.u-section-2 .u-icon-1 {font-size: 0.7rem} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 658px} }

@media (max-width: 767px){ .u-section-2 .u-sheet-1 {min-height: 1724px} }

@media (max-width: 575px){ .u-section-2 .u-sheet-1 {min-height: 367px} }.u-section-3 .u-sheet-1 {min-height: 598px}
.u-section-3 .u-text-1 {margin: 60px 20px 0}
.u-section-3 .u-text-2 {margin: 20px 0 0}
.u-section-3 .u-gallery-1 {height: 364px; grid-gap: 17px; margin: 30px auto 0}
.u-section-3 .u-gallery-inner-1 {grid-template-columns: repeat(3, auto); grid-gap: 17px}
.u-section-3 .u-over-slide-1 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-2 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-over-slide-3 {background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); padding: 20px}
.u-section-3 .u-btn-1 {margin: 30px auto 60px} 

@media (max-width: 1199px){ .u-section-3 .u-sheet-1 {min-height: 534px}
.u-section-3 .u-text-1 {margin-left: 0; margin-right: 0}
.u-section-3 .u-gallery-1 {height: 300px; grid-template-columns: repeat(3, auto); margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-3 .u-sheet-1 {min-height: 923px}
.u-section-3 .u-gallery-1 {height: 689px; grid-template-columns: repeat(2, auto); margin-right: initial; margin-left: initial}
.u-section-3 .u-gallery-inner-1 {grid-template-columns: repeat(2, auto)} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 1784px}
.u-section-3 .u-gallery-1 {height: 1550px; grid-template-columns: repeat(1, auto); margin-right: initial; margin-left: initial}
.u-section-3 .u-gallery-inner-1 {grid-template-columns: repeat(1, auto)} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 1210px}
.u-section-3 .u-gallery-1 {height: 976px; margin-right: initial; margin-left: initial} }